body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
  }

  #bottom {
    font-family: Monospace;
    color: #fff;
    font-size: 2em;
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
  }

  #help {
    font-family: Monospace;
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    top: 560px;
    left: -40px;
    width: 300px;
    z-index: 100;
    display: block;
  }

  #jointList {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  #sytleButton {
    position: absolute;
    /* top: 360px; */
    top: 300px;
    /* right: 20px; */
    left: 20px;
    height: 25px;
    border: solid 5px blue;
    /* background-color : blue; */
  }

  #sytleButton2 {
    position: absolute;
    top: 400px;
    left: 20px;
  }

  #sytleButton3 {
    position: absolute;
    top: 480px;
    left: 20px;
  }

  #sytleButton4 {
    position: absolute;
    top: 520px;
    left: 20px;
  }

  #sytleButton5 {
    position: absolute;
    top: 440px;
    left: 20px;
  }

  #sytleLog {
    position: absolute;
    font-size: 30px;
    height: 35px;
    top: 40px;
    right: 20px;
  }